<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>phone.png</string>
			<key>Service Name</key>
			<string>Dial With Cisco Jabber</string>
			<key>Title</key>
			<string>Dial With Cisco Jabber</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Dial the selected number with Jabber.</string>
	<key>Extension Identifier</key>
	<string>com.klauster.extension.dial-jabber</string>
	<key>Extension Name</key>
	<string>DialJabber</string>
	<key>Required OS Version</key>
	<string>10.7</string>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>